* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: 2s;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.notes-container {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 50px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#add-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.toolbar {
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 5px;
}

.toolbar i:hover{
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}